
body{
    background-image: url("Grade Grey.jpg");
}

ul {
    list-style-type: none;
    margin-top: 45px;
    margin-bottom: 0px;
    margin-right: 45px;
    margin-left: 45px;
    padding-left:2px; 
    padding-right:2px;
    overflow: hidden;
    background-color:#585858;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 55px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* This Changes the link color to #111 (black) on hovering */
li a:hover {
    background-color: #111;
}

img{
 max-width: 100%;
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top: 30px;

}

.article-section{
    margin-right: 45px;
    margin-left: 45px;
    background-color: #867979;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.first-row {
    float: left;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 8px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;

}
.site1{
   width: 28%;
   float: left;
   margin-left: 15px;
   margin-right:15px;
   padding: 5px;
   padding-right: 5px;
   border-right: 0px solid blue;
}

.site2{
   width: 28%;
   float: left;
   margin-right: 15px; 
   padding: 5px;
   padding-right: 5px;
   border-right: 0px solid blue;

}

.site3{
   width: 28%;
   float: left;
   margin-right: 0px;
   padding: 5px;
   /* border: 1px solid black; */


}

.Second-row{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

.site4{
   width: 28%;
   float: left;
   margin-left: 15px;
   margin-right:15px;
   padding: 5px;
   border-right: 0px solid blue;
}

.site5{
   width: 28%;
   float: left;
   margin-right: 15px; 
   padding: 5px;
   border-right: 0px solid blue;

}

.site6{
   width: 28%;
   float: left;
   margin-right: 0px;
   padding: 5px;
   /*border: 1px solid black; */


}
.work{
    background-image: url("Jupiter.jpg");

}
.h1{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: white;
    margin-top: 55px;

}


footer{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url("Grade Grey.jpg");
    background-repeat: repeat;
    /*background-color: Gray; */
    font-weight: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: white;
    text-align: center;
}
